/* line 5, ../scss/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 26, ../scss/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../scss/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../scss/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../scss/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../scss/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../scss/components/_header.scss */
.header {
  position: absolute;
}

/* line 1, ../scss/components/_navigation.scss */
.navigation {
  margin: 10px 30px;
}
/* line 3, ../scss/components/_navigation.scss */
.navigation ul li {
  display: inline-block;
  padding: 0 20px;
}
/* line 6, ../scss/components/_navigation.scss */
.navigation ul li a {
  color: #D0DCD2;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
}
/* line 11, ../scss/components/_navigation.scss */
.navigation ul li a:hover {
  color: #fff;
}

/* line 1, ../scss/components/_hero.scss */
.hero {
  height: 100vh;
  background-image: url("../images/hills.jpg");
  background-size: cover;
}
/* line 5, ../scss/components/_hero.scss */
.hero .hero-cont {
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7e7e2+0,133131+100 */
  background: #c7e7e2;
  /* Old browsers */
  background: -webkit-linear-gradient(185deg, rgba(199, 231, 226, 0.01) 20%, #133131 80%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(185deg, rgba(199, 231, 226, 0.01) 20%, #133131 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* line 14, ../scss/components/_hero.scss */
.cta {
  font-size: 120px;
  font-family: "Ranga", cursive;
  font-weight: bold;
  color: #FEF8F8;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
/* line 25, ../scss/components/_hero.scss */
.cta h2 span {
  color: #700D1F;
}
/* line 28, ../scss/components/_hero.scss */
.cta h2:first-child {
  margin-left: -1em;
}
/* line 31, ../scss/components/_hero.scss */
.cta h2:last-child {
  margin-left: 1em;
}

/* line 1, ../scss/components/_about.scss */
.about {
  height: 100vh;
}

/* line 1, ../scss/components/_services.scss */
.services {
  height: 100vh;
  background-color: #133131;
}

/* line 1, ../scss/components/_footer.scss */
.footer {
  background-color: #220B13;
  color: #FEF8F8;
  padding: 20px;
}
/* line 5, ../scss/components/_footer.scss */
.footer .copyright {
  text-align: center;
  max-width: 1200px;
}
