
//Colours
$dark-green: #133131;
$mid-green: #254949;
$turqoise: #C7E7E2;
$burgundy: #700D1F;
$deep-purple: #220B13;

//greys
$light-grey : #FEF8F8;
$green-grey : #D0DCD2;


//paths
$images : '../images';


//fonts
$sans-serif: 'Helvetica', Arial, sans-serif;
//$serif : 'Ranga', cursive;
$serif : 'Alegreya', serif;
$sc-serif : 'Alegreya SC', serif;
$sans-serif : 'Alegreya Sans', sans-serif;
$sc-sans-serif : 'Alegreya Sans SC', sans-serif;