.wrapper {
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
.spacer {
	height: 200px;
}
.services-to-about {
	background: -webkit-linear-gradient(270deg,  $dark-green 10%,$mid-green 90%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(180deg,  $dark-green 10%, $mid-green 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.about-to-contact {
	background: -webkit-linear-gradient(270deg,  $burgundy 10%,$deep-purple 90%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(180deg,  $burgundy 10%, $deep-purple 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}