.wrapper {
	position: relative;
	height: 100vh;
	background-image: url($images +'/canal-colour.jpg');
	background-size: cover;
	background-position: center;
	.wrapper-cont {
		height: 100%;
		background: -webkit-linear-gradient(to top, rgba($mid-green, 0.55) , rgba(#FFE47A,0.3)); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, rgba($mid-green, 0.55) , rgba(#FFE47A,0.3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
