.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
	color: $light-grey;
	.copyright {
		text-align: center;
		max-width: 1200px;
	}
	a, span {
		cursor: pointer;
		margin: 2px;
		padding: 0 10px;
		color: $green-grey;
		font-family: $sans-serif;
		text-decoration: none;
		display: inline-block;
		line-height: 1em;
		&:first-child {
			border-right: 1px solid $green-grey;
		}
		&:last-child {
			border-left: 1px solid $green-grey;
		}
	}
}