.header {
	width: 100%;
    padding: 24px 0;
}
.logo {
	font-family: $sans-serif;
	color: $light-grey;
	border: 3px solid $light-grey;
    border-left: none;
    border-right: none;
    font-size: 23px;
    padding: 1px 2px;
    line-height: 0.83em;
    display: inline-block;
    text-transform: uppercase;
    .dig {
    	font-weight: 300;
    }
    &:hover, &:active {
        color: $light-grey;
        border-color: $light-grey;
    }
}
.shopify-link {
    display: inline-block;
    float: right;
    color: $light-grey;
    text-decoration: none;
    font-family: $sans-serif;
    .fa-shopping-bag {
        padding-right: 6px;
    }
    &:hover, &:active {
        color: $light-grey;
    }
}