.hero-cont {
//
}

.cta {
	//layout
	width: 640px;
	max-width: 100%;
	padding: 35vh 0 0;
	//text
	font-size: 30px;
	font-family: $sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px $dark-green;
	//color
	color: $light-grey;
	h2 {
		font-size: 26px;
		margin: 24px 0;
		border-bottom: 3px solid $red;
		border-radius: 3px;
		padding: 6px 0;
		& span {
			color: $burgundy;
		}
	}
	a.shopify {
		color: $shopify-green;
		text-decoration: none;
	} 
	p{
		font-size: 16px;
		a, span {
			color: $red;
			text-shadow: none;
			cursor: pointer;
			text-decoration: underline
		}
	}
}

@media (min-width: $media-desk) {
	.cta {
		padding-top: 50vh;
		h1 {
			font-size: 24px;
		}
		h2 {
			font-size: 36px;
		}
	}
}