.hero {
	height: 100vh;
	background-image: url($images +'/hills.jpg');
	background-size: cover;
	background-position: bottom;
	.hero-cont {
		height: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7e7e2+0,133131+100 */
		background: rgb(199,231,226); /* Old browsers */
		background: -webkit-linear-gradient(185deg,  rgba(199,231,226,0.01) 20%,rgba(19,49,49,0.99) 70%,rgba(19,49,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(185deg,  rgba(199,231,226,0.01) 20%,rgba(19,49,49,0.99) 70%,rgba(19,49,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
}

.cta {
	font-size: 120px;
	font-family: $serif;
	font-weight: bold;
	color: $light-grey;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	h2 {
		& span {
			color: $burgundy;
		}
		&:first-child {
			margin-left: -1em;
		}
		&:last-child {
			margin-left: 1em;
		}
	}
}