.modal {
	min-width: 0;
	height: 100vh;
    background: $burgundy;
    position: relative;
    width: 100%;
    top: 0;
    margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;

}
.modal-cont {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(#000,0.6);
}
@media (min-width: $media-desk) {
	.modal {
		width: 600px;
		height: 90vh;
		min-width: 600px;
	    top: 5vh;
	}
}